<!-- -*- markdown -*- -->
#*

Please note that Velocity and Markdown are fundamentally incompatible
with each other, so some links in this source document can never
render properly in HTML.  On behalf of the Velocity and Maven
developers I apologize for being unable to work around these flaws.

*#

Usage
===

Here's how to use `splain` in your project in the most common
scenario, _viz._ producing intelligent error messages given a chain of
`Throwable`s.

Add splain to Your Classpath
---

To use the `splain` project, please see the
[Dependency Information](dependency-info.html) report for full
details.

In brief, the following dependency in a Maven project will work:

    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
    </dependency>

Decide Where Your Message Catalog Will Live
---

`splain` relies on a _message catalog_&mdash;a text file containing
entries consisting of `objexj` patterns and the messages they select.
The format of such a file is detailed in the <a
href="apidocs/com/edugility/splain/io/MessageFactoryReader.html#read()">documentation
for the <code>MessageFactoryReader#read()</code> method</a>.

You may place a message catalog anywhere on your application's
classpath.  (Actually, you may place it anywhere you wish, as long as
you can figure out how to get a `java.io.Reader` that will read it.)

You should also give thought to the tier that your message catalog
will belong to.  Will this message catalog be for diagnosing problems
at the middleware layer?  Or for selecting a message for display
on a particular user interface?  Answering these questions will help
you figure out where to place your message catalog, and how many
message catalogs you will have in your application.  In terms of bang
for the buck, `splain` is probably best for coming up with messages to
display for particular UIs.

Decide Where splain Will Actually Run
---

This is closely related to the prior point.  Will `splain` run in a
Servlet filter?  Will it run in an interceptor of some kind?

Assemble a Message Catalog
---

Begin your message catalog by working backwards.  

<h3>Ensure There Is A Catch-All</h3>

Insert an entry that will (if it is ever reached) match all possible
errors.  Here is a sample entry in a message catalog that I've decided
arbitrarily to name `Messages.mc`, and to locate in my classpath
somewhere:

    ^(java.lang.Throwable)
    --
    ${$1[0].toString()}

The first line is an `objexj` pattern.  It matches any `List` whose
first item ("`^`") is a `Throwable`.  Additionally, as you can see from
the parentheses, it saves a reference to the `Throwable` so matched.

The second line is a separator (two hyphens) that divides the pattern
section of this entry from the message.

The third line is the message itself.  In this case, it's not much of
a localized message.  It is instead a way using MVEL templates to get
the matched `Throwable` to print its stack trace.

The first `${` is the indication that an MVEL expression follows.  The
`$1` variable refers to the first capture group match (the sublist of
`Throwable`s we matched in our pattern&mdash;in this case this `List`
has a size of exactly `1`.  The index selector, `[0]` selects the
first (and only!) item from that sublist, namely the `Throwable` we're
interested in.  Finally, the `.toString()` is just a method
call on that `Throwable`, and that will become the final value of the
MVEL expression.

You can see how this entry will match any `List` of `Throwable`s
handed to it and will produce a suitable message.  The message,
however, is not very interesting.

<h3>Set Up A ResourceBundle</h3>

The whole point of `splain` is to provide more intelligent and
localized error messages.  So let's make sure we have a
`ResourceBundle` set up with a couple of error messages.  We'll set
them up here, and explain them a little later.

Let's create a file called `DatabaseErrorMessages.properties` in Java
properties format and save it somewhere in the classpath.  We'll give
it a single property setting like this:

    ipSocketError = An IP socket could not be opened.  This corresponds to a SQL state of ${ss}.

<h3>Add Other Message Catalog Entries Above The Catch-All</h3>

Now that we have a safety valve that will handle all errors, let's add
a more interesting message.

Suppose we're writing a database application.  `SQLException`s are
therefore things we are likely to encounter fairly frequently.

`SQLException`s have an `errorCode` property, a `sqlState` property
and inherit the usual `message` property as well.  Let's further
assume that we're working with the [MySQL][1] database, just because
they happen to have a nice [list of error codes][2] that is easy to refer
to.

We'll put a message catalog entry in that provides a localized and
informative message for a particular kind of `SQLException` that we
encounter.

Here's the entry:

    java.sql.SQLException(ss = this.sqlState; errorCode == 1081)$
    --
    DatabaseErrorMessages/ipSocketError
    
Here, we have an `objexj` pattern that matches when the _last_ item in
the input list is a `SQLException` whose `errorCode` property equals
`1081`.  Should this pattern match, we instruct `splain` to attempt to
locate a resource named `ipSocketError` in a `ResourceBundle`
named `DatabaseErrorMessages` accessible on the classpath.

We place this entry above the "catch-all" entry, so that it will not
be shadowed by the catch-all entry.

Incorporate splain Into Your Code
---

Suppose in our web tier we run some business logic and catch
`Exception`, like this:

    // splain initialization needs to happen before this block
    
    try {
      frobnicator.frobnicate();
    } catch (final Exception exception) {
      // splain execution will go here
    }
    
Suppose further that for various reasons we want the
client-appropriate message to be produced here (there are other
choices, ranging from error message production in Javascript on the
browser to no message at all).

Finally, suppose that for the purposes of this discussion you and I
know that the exception we're getting has a `SQLException` at the
bottom of it with a vendor error code of `1081`.  Obviously our code
here does not know that.

Here's how it would look, put all together (I've also used the
(convenient) [`ThrowableList` class][3] to produce a `List`
implementation out of a `Throwable` and its chain of causes; you may
do this however you wish):

    // somewhere in an init() method somewhere:
    MessageFactoryReader mfr = null;
    final MessageFactory mf;
    MessageFactory tempMf = null;
    try {
      mfr = new MessageFactoryReader("Messages.mc");
      tempMf = mfr.read();
    } catch (final IOException handleMe) {
      // handle appropriately
    } catch (final ParseException handleMeToo) {
      // handle appropriately
    } finally {
      mf = tempMf;
      if (mfr != null) {
        try {
          mfr.close();
        } catch (final IOException ohWell) {
          // log appropriately
        }
      }
    }
    assert mf != null;

    try {
      frobnicator.frobnicate();
    } catch (final Exception exception) {
      final Locale locale = httpRequest.getLocale();
      final Object message = mf.getMessage(new ThrowableList(exception), locale);
      assert message != null;
      // serve message up to the client
    }
    
In this code snippet, `message` would be the following `String`:

> An IP socket could not be opened.  This corresponds to a SQL state of 08S01.

You'll notice that `${ss}` has been substituted with the
`SQLException`'s `sqlState` property value.

You'll also notice that the message itself came from the appropriate
resource bundle, and that it is appropriate to the exception chain we
received.  That's what `splain` is all about.

[1]: http://www.mysql.com/
[2]: http://dev.mysql.com/doc/refman/5.7/en/error-messages-server.html
[3]: http://ljnelson.github.io/edugility-throwables/apidocs/com/edugility/throwables/ThrowableList.html
